/* src/index.css */

/* OVO JE ZA LOGIN/REGISTER STRANICE */
body, html, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

/* OVO JE ZA OSTALE STRANICE (HOME ITD.) */
/* Stilovi za MainLayout će se primijeniti kroz CSS module */