/* ===== NAVBAR WRAPPER ===== */
.navbar {
    width: 100%;
    height: 70px;
    background-color: #02191b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.12);
    position: sticky;
    top: 0;
    z-index: 100;
}

/* ===== LEFT LOGO ===== */
.logo {
    width: 100px;
}

/* ===== CENTER NAVIGATION LINKS ===== */
.navLinks {
    display: flex;
    gap: 32px;
    align-items: center;
}

.navLinks a {
    color: #cfeff8;
    text-decoration: none;
    font-size: 16px;
    transition: .2s;
    font-weight: 500;
}

.navLinks a:hover {
    color: #ffffff;
}

/* ===== RIGHT BUTTONS ===== */
.rightSide {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-right: 60px;
}

/* Buttons styling */
.registerBtn {
    color: #92cfe0;
    text-decoration: none;
    font-size: 15px;
    transition: 0.2s;
}

.registerBtn:hover {
    color: #ffffff;
}

.loginBtn {
    text-decoration: none;
    font-weight: 600;
    background-color: #b9ecff;
    padding: 6px 14px;
    border-radius: 8px;
    color: #062a2b;
    transition: 0.2s;
}

.loginBtn:hover {
    background-color: #8fe2ff;
    transform: scale(1.05);
}

.avatarWrapper {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #0d3b40;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}

.avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.avatarWrapper i {
    color: #8fe2ff;
    font-size: 16px;
}

.userInfo {
    display: flex;
    align-items: center; /* vertical centering */
    gap: 10px;
}

.userName {
    color: #cfeff8; /* same as navbar links */
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
}

.separator {
    color: #cfeff8; /* same as navbar links */
    font-size: 40px;
    font-weight: 300;
    padding-bottom: 10px;
}

.avatarPlaceholder {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #0d3b40;   /* ista kao avatarWrapper pozadina */
    color: #ffffff;        /* bijela slova */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;      /* deblja slova */
    font-size: 16px;       /* taman za 44px krug */
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1;
}

/* Admin Link */
.adminLink {
    background: linear-gradient(135deg, #8b5cf6 0%, #7c3aed 100%);
    padding: 6px 14px;
    border-radius: 8px;
    color: #fff !important;
    font-weight: 600;
    transition: 0.2s;
}

.adminLink:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}